{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CarAdmin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link your CSS -->
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
</head>
<body>

<div class="admin-layout">

    <!-- Sidebar -->
    <aside class="sidebar">
        <div class="sidebar-header">
            <div class="logo-icon">🚗</div>
            <div class="logo-text">
                <div class="title">Admin</div>
                <div class="subtitle">parking Control</div>
            </div>
        </div>

        <nav class="sidebar-menu">
       <a href="{% url 'owner_dashboard' %}" class="menu-item active">📊 Dashboard</a>
        <a href="#" class="menu-item">👥 Manage Users</a>
        <a href="#" class="menu-item">🅿 Manage Parking Owners</a>
        <a href="#" class="menu-item">📍 Manage Slots</a>
        <a href="#" class="menu-item">📈 Reports</a>
        <a href="#" class="menu-item">🚪 Logout</a>
    </nav>
    </aside>

    <!-- Main Content -->
    <div class="main-content">

        <!-- Topbar -->
        <header class="topbar">
            <div class="search-box">
                <span class="search-icon">🔍</span>
                <input type="text" placeholder="Search cars, users or logs...">
                
            </div>

            <div class="topbar-actions">
                <span class="icon">🔔</span>
                <span class="icon">⚙️</span>
                <div class="admin-profile">
                    <div class="avatar">A</div>
                    <div>
                        <div class="name">Admin User</div>
                        <div class="role">Super Admin</div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Page Content -->
        <main class="content">
            <h1>Dashboard</h1>
            <p>the parking is pending</p>
        </main>

    </div>
</div>

</body>
</html>