{% load static %}
<nav class="navbar">
    <div class="navbar-container">

        <!-- Logo -->
        <a href="#" class="navbar-logo">
            <div class="logo-icon"></div>
            <span>Find My Parking</span>
        </a>

        <!-- Menu -->
        <div class="navbar-menu">
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'home' %}">AboutUS</a>
            <a href="#">Contact</a>
            <a href="#">Reviews</a>
            
        </div>

        <!-- Actions -->
        <div class="navbar-actions">
            <a href="{% url 'signup' %}" class="btn-signin">Sign Up</a>
        </div>

    </div>
</nav>


